[submodule "tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse
[submodule "external/cmake-git-versioning-example"]
	path = external/cmake-git-versioning
	url = https://github.com/nocnokneo/cmake-git-versioning-example
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli
[submodule "external/lzham_alpha"]
	path = external/lzham_alpha
	url = https://github.com/ryanjsims/lzham_alpha
[submodule "external/synthium"]
	path = external/synthium
	url = https://github.com/ryanjsims/synthium
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
